body	{background-color:transparent;color:#000000; margin:0px;text-align:center;margin-top:26px;margin-left:200px}
td	{text-align:left}
table	{border-collapse:collapse}
td a	{display:block;color:#000044;text-decoration:none}
td a:hover {color:#6666FF}

tr.r0 {background-color:#FA9E9E}
tr.r1 {background-color:#FFBE9E}
tr.r2 {background-color:#FFF79E}
tr.r3 {background-color:#9EFFA1}
tr.r4 {background-color:#9ED3FF}
tr.r5 {background-color:#9E9EFF}
tr.r6 {background-color:#E09EFF}
