pips.mp3
*.pyc
.*
*.log
player/options.json
player/db/*.json
player/db/*/*.json
player/log
player/queue.json
player/info.json

!.gitignore

Music/*
!Music/The_Noise_Engine
Music/The_Noise_Engine/*
!Music/The_Noise_Engine/Seed
Music/The_Noise_Engine/Seed/*
!Music/The_Noise_Engine/Seed/*.mp3


