*.pyc
local_config.py

.*.swp

Music/*
!Music/The_Noise_Engine
Music/The_Noise_Engine/*
!Music/The_Noise_Engine/Seed
Music/The_Noise_Engine/Seed/*
!Music/The_Noise_Engine/Seed/*.mp3
!Music/The_Noise_Engine/Seed/*.txt
