pips.mp3
*.pyc
.*
*.log
data/*
player/db/*.json
player/db/*/*.json
player/log
local_config.py

!.gitignore

Music/*
!Music/The_Noise_Engine
Music/The_Noise_Engine/*
!Music/The_Noise_Engine/Seed
Music/The_Noise_Engine/Seed/*
!Music/The_Noise_Engine/Seed/*.mp3
!Music/The_Noise_Engine/Seed/*.txt
