body {margin:0;padding:0}

#topbuttons {width:100%; text-align:center;}
#button-container {height:15vh;padding:0;width:100%;text-align:center;border-bottom:.5vh solid black;border-top:.5vh solid black}

#progress-bar {background-color:#FFA366;height:15vh;margin-bottom:-15vh}
#song-info {height:12vh;margin-bottom:-15vh; width:100vw;text-align:left;padding:1.5vh;font-size:2vh;line-height:4vh}

button {padding:0; background-color:white; padding:1vh; margin:1vh; border:.5vh solid black}
button svg {width:20vh;height:20vh}
button.small svg {width:10vh;height:10vh}

button#cd-off svg .ifon {display:none}
button#cd-off svg .spinme {display:none}
button#cd-off:hover svg .spinme {display:block; animation: spin 3s linear infinite, fadein 1s ease 1;}

button#cd-on svg .ifon {display:display:block; animation: spin 3s linear infinite;}
button#cd-on svg .spinme {display:none}

button#cd-off svg .stop,
button#cd-on svg .stop,
button#mp3-off svg .stop,
button#mp3-on svg .stop {display:none}
button#cd-on:hover svg .stop,
button#mp3-on:hover svg .stop {display:block}

button#mp3-off svg .ifon {display:none}
button#mp3-off svg .ifhover {display:none}
button#mp3-off:hover svg .ifhover {display:block; animation: fadein 1s ease 1;}
button#mp3-off:hover svg .shakeme,
button#mp3-on svg .shakeme {display:block; animation: shake 0.5s ease infinite;}

button#mp3-on svg .ifon {display:block}
button#mp3-on svg .ifhover {display:none}

button#play {background-color:#FFA366}
button#pause {background-color:#FFA366}
button#pause svg .pause,
button#play:hover svg .pause {display:block;animation: updown .4s linear infinite}
button#pause:hover svg .play,
button#play svg .play {display:block;animation: leftright .4s linear infinite}
button#pause svg .play,
button#pause:hover svg .pause,
button#play svg .pause,
button#play:hover svg .play {display:none}
button#skip:hover svg .skip
{animation: leftright .4s linear infinite}

button#play:hover,
button#pause:hover,
button#skip:hover {background-color:#2EA3D0;}

@keyframes spin {
  0% { transform: rotate(0deg); transform-origin: center center; }
  25% { transform: rotate(90deg); transform-origin: center center; }
  50% { transform: rotate(180deg); transform-origin: center center; }
  75% { transform: rotate(270deg); transform-origin: center center; }
  100% { transform: rotate(360deg); transform-origin: center center; }
}

@keyframes shake {
  0% { transform: translate(0,0);}
  25% { transform: translate(.03vh,.05vh);}
  50% { transform: translate(0vh,0vh);}
  75% { transform: translate(-.03vh,-.05vh);}
  100% { transform: translate(0vh,0vh);}
}

@keyframes leftright {
  0% { transform: translate(.1vh,0);}
  50% { transform: translate(-.1vh,0);}
  100% { transform: translate(.1vh,0);}
}

@keyframes updown {
  0% { transform: translate(0,.1vh);}
  50% { transform: translate(0,-.1vh);}
  100% { transform: translate(0,.1vh);}
}

@keyframes fadein {
  0% { opacity:0 }
  100% { opacity:1 }
}
